.cart-notification  {
    display: none;
}
.sidecart-wrapper {
	position: fixed;
	top: 0;
	padding: 20px;
	right:-400px;
	width:400px;
	background-color: #fff;
	z-index: 10;
	height: 100vh;
	overflow-y: auto;
	transition: right 0.6s ease;
	.side-cart-close {
		text-align: right;
		.close {
			font-size: 20px;
			transform: rotate(45deg);
			display: inline-block;
			line-height: 1;
			cursor: pointer;
		}
	}
	.side-cart-header {
		h2 {
			margin: 0;
		}
	}
	.side-cart-content {
		.cart-content {
			list-style: none;
			padding: 0;
			.item {
				.item-content {
					display: flex;
					justify-content: space-between;
					.item-image {
							.image-wrapper {
									width: 140px;
									height: auto;
									img {
											width:100%;
											max-width:100%;
											height:auto;
									}
							}
					}
					.item-data {
						.ul-item-data {
							list-style: none;
							padding: 0;
							.li {
									h3 {
									margin: 0;
									}
							}
							.quantity {
								min-height: 30px;
								height: 30px;
								.qtyinput {
									width: 40%;
									padding: 5px 12px;
								}
								a.qtybtn {
									width: 30%;
									padding: 1px 16px;
									text-decoration: none;
									color: #000;
									&:focus-visible {
										outline: none;
										box-shadow: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.sidecart-wrapper.active {
    right: 0;
    box-shadow:0 0 0 10000px #0009;
}