.cart-notification {
  display: none; }

.sidecart-wrapper {
  position: fixed;
  top: 0;
  padding: 20px;
  right: -400px;
  width: 400px;
  background-color: #fff;
  z-index: 10;
  height: 100vh;
  overflow-y: auto;
  transition: right 0.6s ease; }
  .sidecart-wrapper .side-cart-close {
    text-align: right; }
    .sidecart-wrapper .side-cart-close .close {
      font-size: 20px;
      transform: rotate(45deg);
      display: inline-block;
      line-height: 1;
      cursor: pointer; }
  .sidecart-wrapper .side-cart-header h2 {
    margin: 0; }
  .sidecart-wrapper .side-cart-content .cart-content {
    list-style: none;
    padding: 0; }
    .sidecart-wrapper .side-cart-content .cart-content .item .item-content {
      display: flex;
      justify-content: space-between; }
      .sidecart-wrapper .side-cart-content .cart-content .item .item-content .item-image .image-wrapper {
        width: 140px;
        height: auto; }
        .sidecart-wrapper .side-cart-content .cart-content .item .item-content .item-image .image-wrapper img {
          width: 100%;
          max-width: 100%;
          height: auto; }
      .sidecart-wrapper .side-cart-content .cart-content .item .item-content .item-data .ul-item-data {
        list-style: none;
        padding: 0; }
        .sidecart-wrapper .side-cart-content .cart-content .item .item-content .item-data .ul-item-data .li h3 {
          margin: 0; }
        .sidecart-wrapper .side-cart-content .cart-content .item .item-content .item-data .ul-item-data .quantity {
          min-height: 30px;
          height: 30px; }
          .sidecart-wrapper .side-cart-content .cart-content .item .item-content .item-data .ul-item-data .quantity .qtyinput {
            width: 40%;
            padding: 5px 12px; }
          .sidecart-wrapper .side-cart-content .cart-content .item .item-content .item-data .ul-item-data .quantity a.qtybtn {
            width: 30%;
            padding: 1px 16px;
            text-decoration: none;
            color: #000; }
            .sidecart-wrapper .side-cart-content .cart-content .item .item-content .item-data .ul-item-data .quantity a.qtybtn:focus-visible {
              outline: none;
              box-shadow: none; }

.sidecart-wrapper.active {
  right: 0;
  box-shadow: 0 0 0 10000px #0009; }

