<div class="sidecart-wrapper">
    <div class="sidecart-in">
      <div class="side-cart-close">
        <div class="close">+</div>
      </div>
        <div class="side-cart-header">
            <h2>Cart</h2>
        </div>
        <div class="side-cart-content">
            {%if cart.item_count != 0 %}
              <ul class="cart-content">
               {% render 'side-cart-snippet' %}
              </ul>
            {% endif %}
        </div>
    </div>
</div>
<script>
  myCart={{ cart | json}}
</script>