{% for item in cart.items %}
  <li class="item">
    <div class="item-content">
      <div class="item-image">
        <div class="image-wrapper">
            <img src="{{ item.image | img_url: 'master'}}" alt="{{ item.title }}" onclick="history.back();">
        </div>
      </div>
      <div class="item-data">
        <ul class="ul-item-data">
          <li class="item-title">
            <h3>{{item.title}}</h3>
          </li>
          <li class="item-variant">
              <h3>{{ item.variant_title }}</h3>
          </li>
          <li class="item-price">
              <h3>{{ item.price }}</h3>
          </li>
          <li class="quantity">
              <a  href="" class="plus qtybtn" data-id="{{item.id}}">+</a>
              <input class="qtyinput" type="number"data-id="{{item.id}}"value="{{item.quantity}}">
              <a  href="" class="minus qtybtn"data-id="{{item.id}}">-</a>
          </li>
          <li class="remove">
            <a href="" data-id="{{item.id}}" class="remove-btn">remove</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </li>
{% endfor %}